@import './buttons.css';
@import './card.css';
@import './container.css';
@import './inputs.css';

* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
}

a:hover {
  text-decoration: underline;
}
